<h1>
	This is the landing page for the Media Collection Framework.
</h1>
<h3>
	The MCF is data framework for organizing media objects and their associated forks/remixes that is agnostic to content-type. It is intended to support a variety of navigational interfaces.  Media objects are wrapped in “render objects”, data structures that contain information about the type of content (video, text, image, website, etc.), its dimensions (duration, resolution, aspect ratio), and its metadata, allowing applications such as the Media Matrix to organize arrays of media types across various metrics and dimensions. Render objects can wrap one or many media objects with additional or alternative rendering metadata to support user-driven splicing, extracting, or annotating of clips through applications such as Recast. Render objects can be collected within track objects, and API endpoints are provided for queuing render objects dynamically within a track, generating media collections that are responsive to current events, or the changing social or device contexts of an application’s users.
</h3>
<h3>get '/collections/'</h3>
<h3>get '/Renderobjects/'</h3>
<h3>get '/Tracks/'</h3>
<h3>get '/Renderobjects/id/:id/'</h3>
<h3>get '/Renderobjects/name/:name/'</h3>
<h3>post '/Renderobjects/new/?'</h3>
<p>At the moment you can try this out as a get request too. ex: /Renderobjects/new/?name=thing&url=http://www.media.mit.edu/&render_type=test</p>
<h3>post '/Tracks/new/?'</h3>
<p>At the moment you can try this out as a get request too. ex: /Tracks/new/?name=testTrack&renderobjects=['5391fb813eb9db7dc1000001', '5391fbb73eb9db7dcf000001']</p>
<h3>delete '/Renderobjects/remove/:id/'</h3>
<h3>delete '/Tracks/remove/:id/'</h3>
